ybg{
    background-color:yellow;
}
pur{
    background-color:purple;
    color:white;
}
red{
    color:red;
    font-family:bond;
}
gre{
    background-color:green;
    color:white;
}
unl{
    text-decoration:underline;
    font-family:bond;
    font-size:20px;
}